<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar mt-0 pt-0 navbar-expand-lg container navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Student App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Student", null, new { Class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Insert", "getTheInsertPage", "Student", null, new { Class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Update", "getTheUpdatePage", "Student", null, new { Class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Delete", "getTheDeletePage", "Student", null, new { Class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="container fixed-bottom">
        <hr/>
        <p class="text-center text-dark"> &copy; All Rights Reserved </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
